body{
  height: 100%;
  background: #fff;    /* not all browsers set white as the default background color  */
  color: #444;         /* color is set to create not too much contrast with the background color */
  line-height: 1.4;    /* line-height is to ensure that text is legible enough ( enough space between the lines) */
  font-size: 20px;
  padding-left: 20px;
}



a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}
